/* .highlightField, .x2yp {
    color:#00923f;
    font-weight: bold;
}
#countAll{
	line-height: 28px;
}
#countAll:hover{
	text-decoration: none;
}
#thongketext{
	padding-left: 10px;
	padding-right: 0px;
	background-color:#f2f2f2;
	height: 37px;
}
marquee{
	overflow: hidden;
	white-space: nowrap;
	height: -webkit-fill-available;
}
#thongketitle{
	background: #00923f;
	line-height: 37px;
} */