<div class="container-fluid" style=" background: url(/o/CMS-Web-Navbar-LienKet/css/img/bg-lienket.png) repeat #d4ab50;
border-top: solid 5px #03790c;" >
<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
					<div class="carousel-item active icon-backgroud">
						<div class="carousel-caption d-block " style="width: 100%;left: 0px;bottom: 0px;">
							<div class="row">
								<div class="col-md-6">
								<div class="row">
									<div class="col-md-3 col-sm-3 col-xs-6 bo-r1">
										<a class="box-td1" href="#">
											<i class="bg-fa fa-2x fas fa-cloud-upload-alt"></i>
											<br>Văn bản Quy phạm pháp luật</a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6 bo-r1">
										<a class="box-td1" href="" target="_blank">
											<i class="bg-fa fa-2x fas fa-user-friends"></i>
											<br>Án lệ</a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6 bo-r1">
										<a class="box-td1" href="" target="_blank">
											<i class="bg-fa fa-2x fas fa-diagnoses"></i>
											<br>Công bố bản án, quyết định của Tòa án</a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6 bo-r1">
										<a class="box-td1" href="">
											<i class="bg-fa fa-2x far fa-calendar-check"></i>
											<br>Biểu mẫu Tố tụng</a>
									</div>
								</div>
								</div>
								<div class="col-md-6">
								<div class="row">
									<div class="col-md-3 col-sm-3 col-xs-6 bo-r1">
										<a class="box-td1" href="">
											<img alt="" height="26" class="salenews" src="/o/CMS-Web-Navbar-LienKet/css/img/icon-vip-soi-cau.gif">
											<i class="bg-fa fa-2x fas fa-cloud-upload-alt bg-fa2"></i>
											<br>
											<strong class="text-do">Nghiên cứu-Xây dựng pháp luật</strong>
										</a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6 bo-r1">
										<a class="box-td1" href="" target="_blank">
											<img alt="" height="26"  class="salenews"  src="/o/CMS-Web-Navbar-LienKet/css/img/icon-vip-soi-cau.gif">
											<i class="bg-fa fa-2x fas fa-tasks bg-fa2"></i>
											<br>
											<strong class="text-do">Nghiên cứu-Xây dựng pháp luật</strong>
										</a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6 bo-r1">
										<a class="box-td1" href="">
											<i class="bg-fa fa-2x fas fa-tasks"></i>
											<br>Tương trợ Tư pháp</a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6 bo-r1">
										<a class="box-td1" href="">
											<i class="bg-fa fa-2x fas fa-user-check"></i>
											<br>Lịch xét xử</a>
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item icon-backgroud">
						<div class="carousel-caption d-block " style="bottom: 0px;width: 100%;left: 0px;">
							<div class="row">
								<div class="col-md-6">
								<div class="row">
									<div class="col-md-3 col-sm-3 col-xs-6 bo-r1">
										<a class="box-td1" href="">
											<i class="bg-fa fa-2x far fa-calendar-check"></i>
											<br>Lịch
																												tiếp
																												công
																												dân</a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6 bo-r1">
										<a class="box-td1" href="">
											<i class="bg-fa fa-2x fas fa-user-friends"></i>
											<br>Chỉ dẫn
																											người dân</a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6 bo-r1">
										<a class="box-td1" href="">
											<i class="bg-fa fa-2x fas fa-user-check"></i>
											<br>Bộ quy tắc
																											nghề nghiệp</a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6 bo-r1">
										<a class="box-td1" href="" target="_blank">
											<i class="bg-fa fa-2x fas fa-diagnoses"></i>
											<br>Sổ tay
																											nghiệp vụ</a>
									</div>
								</div>
								</div>
								<div class="col-md-6">
								<div class="row">
									<div class="col-md-3 col-sm-3 col-xs-6 bo-r1">
										<a class="box-td1" href="">
											<i class="bg-fa fa-2x fas fa-book"></i>
											<br>Nghiên
																									cứu-Xây
																									dựng pháp
																									luật</a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6 bo-r1">
										<a class="box-td1" href="">
											<i class="bg-fa fa-2x far fa-calendar-alt"></i>
											<br>Thông
																											tin đề
																											tài,
																											nghiên
																											cứu khoa
																											học</a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6 bo-r1">
										<a class="box-td1" href="">
											<i class="bg-fa fa-2x far fa-calendar-alt"></i>
											<br>Lịch
																											công
																											tác
																											của
																											lãnh
																											đạo</a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6 bo-r1">
										<a class="box-td1" href="">
											<i class="bg-fa fa-2x fas fa-book"></i>
											<br>Danh bạ</a>
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
					</div>
					<a class="carousel-control-prev control1" href="#carouselExampleControls" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only"><i class="fa-2x fas fa-angle-left"></i></span>
					</a>
					<a class="carousel-control-next control1" href="#carouselExampleControls" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only"><i class="fa-2x fas fa-angle-right"></i></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>







