<div class="row">
	<h3 class="tle">
		<a href="#">thông báo chỉ đạo điều hành</a>
	</h3>
	<div class="box-tin min-h pos">
		<ul class="list-unstyled listtin">
			<div  class="xj3">
				<div  class="x131">
												<span >
													<span >
												<div  class="x105">
													<li style="padding-bottom:0px !important;background-image: none; padding-left: 0px !important;">
													<a class="li-last" href="#" id="gl2" target="_blank">
													<span class="text-do">112/Q&#272;-H&#272;TTCTP:
													</span>Quyết định 112/QĐ-HĐTTCTP về việc công nhận trúng tuyển kỳ thi tuyển chọn Thẩm phán sơ cấp
					
													</a>
													<span class="text-ngayxam">(27/04/2020)</span>
													<hr>
													</li>
												</div>
												<div  class="x105">
													<li>
														<a href="" class="gl22" target="_blank">
															<span class="text-do">111/Q&#272;-H&#272;TTCTP:
															</span>Quy&#7871;t &#273;&#7883;nh 111/Q&#272;-H&#272;TTCTP v&#7873; vi&#7879;c c&ocirc;ng nh&#7853;n tr&uacute;ng tuy&#7875;n k&#7923; thi tuy&#7875;n ch&#7885;n, n&acirc;ng ng&#7841;ch Th&#7849;m ph&aacute;n trung c&#7845;p
														</a>
														<span class="text-ngayxam">(27/04/2020)
														</span>
													</li>
												</div>
												<div  class="x105">
													<li>
														<a href="" class="gl22" target="_blank">
														<span class="text-do">110/Q&#272;-H&#272;TTCTP:
														</span>Quy&#7871;t &#273;&#7883;nh 110/Q&#272;-H&#272;TTCTP v&#7873; vi&#7879;c c&ocirc;ng nh&#7853;n tr&uacute;ng tuy&#7875;n k&#7923; thi n&acirc;ng ng&#7841;ch Th&#7849;m ph&aacute;n trung c&#7845;p
														</a>
														<span class="text-ngayxam">(27/04/2020)
														</span>
													</li>
												</div>
												<div  class="x105">
													<li>
														<a href="" class="gl22" target="_blank">
															<span class="text-do">111/Q&#272;-H&#272;TTCTP:
															</span>Quy&#7871;t &#273;&#7883;nh 111/Q&#272;-H&#272;TTCTP v&#7873; vi&#7879;c c&ocirc;ng nh&#7853;n tr&uacute;ng tuy&#7875;n k&#7923; thi tuy&#7875;n ch&#7885;n, n&acirc;ng ng&#7841;ch Th&#7849;m ph&aacute;n trung c&#7845;p
														</a>
														<span class="text-ngayxam">(27/04/2020)
														</span>
													</li>
												</div>
											
												</span>
												</span>
											<div style="display:none">
												<div style="top:auto;right:auto;left:auto;bottom:auto;width:auto;height:auto;position:relative;" ></div>
											</div>
											<div style="display:none"><a  class="xej"  data-afr-fcs="true" href="#"></a></div>
				</div>
			</div>
		</ul>
		<a class="text-xemthem pos-a" href="#">Xem thêm</a>
	</div>
</div>