/* .carousel-item {
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
  #carouselExampleIndicators3 .control3{
	width: 2%;
	position: absolute;
	top: -25%;
}
.imagenew{
	min-height: 270px;

}
.thumbnail{
	margin-bottom: 10px;
} */