<div class="container-fluid"><div class="row">
	<div class="col-md-5"id="thongketitle">
	   <a href="" target="_blank">
		  <h5 style="font-size: 16px;text-transform: uppercase;color: #fff;">
			 <i class="far fa-chart-bar mr-10"></i>
			 <span id="countAll" >Thông Báo <strong></strong></span>
		  </h5>
	   </a>
	</div>
	<div class="col-md-7" id="thongketext" >
		<marquee direction="up" scrollamount="2" onmouseover="this.stop()" onmouseout="this.start()" >
			<p class="demission truncate-text">
				<span id="typeCount1">Chủ động phòng, chống covid 19 <span class="highlightField">(92.967)</span>,  Thông báo 2 <span class="highlightField">(74.239)</span>, Thông báo 3 <span class="highlightField">(239.269)</span>,  Kinh doanh thương mại <span class="highlightField">(8.057)</span>,  Hành chính <span class="highlightField">(4.705)</span></span>
			</p>
			<p class="demission truncate-text">
				<span id="typeCount2"> Lao động <span class="highlightField">(2.042)</span>,  Công an với nhân dân <span class="highlightField">(47)</span>,  Quyết định áp dụng biện pháp xử lý hành chính <span class="highlightField">(34.004)</span></span>
			</p>
		</marquee>
	</div>
</div>
</div>