<div class="row">
	<div class="form-group col-md-10">
		<input class="form-control" placeholder="Nhập tên đăng nhập" name="searchUser" [(ngModel)]="searchUser"
			(input)="filterList()">
	</div>
	<div class="col-md-2 text-right">
		<a class="btn btn-primary clearfix" routerLink="/create" routerLinkActive="active">
			<i class="fa fa-fw float-left mt-1" aria-hidden="true" title="Copy to use plus"></i>
			<span class="float-right">Thêm mới</span>
		</a>

	</div>
</div>
<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6">
						<select class="form-control" name="parentId" (change)="selectXuat($event)">
							<option  [value]="0" selected >Xuất tất cả</option>
							<option *ngFor="let item of listOrgan" [value]="item.ID">{{item.name}}</option>
						</select>

					</div>
					<div class="col-md-6">
						<button (click)="exportAsXLSX()" class="btn btn-primary" style="margin-bottom:10px ;"><i
								aria-hidden="true" class="fa fa-download float-left mt-1"></i><span>Xuất Danh
								bạ</span></button>
					</div>
				</div>
			</div>
		</div>

		<table class="table table-bordered table-striped ">
			<thead>
				<tr>
					<th>STT</th>
					<th>Tên đăng nhập</th>
					<th>Họ tên </th>
					<th>Email </th>
					<th>Hành động</th>
				</tr>
			</thead>
			<tbody>
				<tr
					*ngFor="let item of usersModels | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ,let i= index ">
					<td class="cangiua">{{i+1+(page-1)*pageSize}}</td>
					<td>{{item.uid}}</td>
					<td>{{item.displayName}}</td>
					<td>{{item.mail}}</td>


					<ng-template #accestModal let-modal>
						<div class="modal-body">
							<p *ngIf="item.zimbraAccountStatus == 'active'"><strong>Bạn muốn hủy kích hoạt với người
									dùng<span class="text-primary">{{item.cn}}</span></strong></p>
							<p *ngIf="item.zimbraAccountStatus != 'active'"><strong>Bạn muốn kích hoạt với người
									dùng<span class="text-primary">{{item.cn}}</span></strong></p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline-secondary"
								(click)="modal.dismiss()">Đóng</button>
							<button type="button" ngbAutofocus class="btn btn-primary" data-dismiss="modal"
								(click)="activeStatusUser(item.zimbraAccountStatus,item.uid)">Đồng ý</button>
						</div>
					</ng-template>

					<td class="cangiua" style="width:10%;">
						<div class="btn-group" ngbDropdown container="body" role="group">
							<button class="btn btn-primary" type="button" ngbDropdownToggle>
								<!--<i class="fa fa-ellipsis-h text-primary" aria-hidden="true"></i>-->
								Hành động
							</button>
							<div class="dropdown-menu" ngbDropdownMenu>
								<button class="dropdown-item" ngbDropdownIte>
									<i class=" fa fa-bell" style="color: #007bff; font-size: larger;"
										*ngIf="item.zimbraAccountStatus == 'active'"
										(click)="openactivemodal(event,accestModal)"></i>
									<i class=" fa fa-bell-slash" style="color: #007bff; font-size: larger;"
										*ngIf="item.zimbraAccountStatus != 'active'"
										(click)="openactivemodal(event,accestModal)"></i>
									<span class="float-right ml-1" *ngIf="item.zimbraAccountStatus == 'active'">Hủy Kích
										hoạt</span>
									<span class="float-right ml-1" *ngIf="item.zimbraAccountStatus != 'active'">Kích
										hoạt</span>
								</button>
								<button class="dropdown-item" ngbDropdownItem>
									<a [routerLink]="['/view/'+item.uid]">
										<i class="fa fa-fw text-primary" aria-hidden="true"></i>
										<span class="float-right ml-1">Sửa</span>
									</a>

								</button>
								<button class="dropdown-item" ngbDropdownItem>
									<a (click)="openDeleteModal(event,confirmModal)">
										<i class="fa fa-fw text-danger" aria-hidden="true"></i>
										<span class="float-right ml-1">Xóa</span>
									</a>

								</button>
							</div>
						</div>
					</td>
					<ng-template #confirmModal let-modal>
						<div class="modal-body">
							<p><strong>Bạn có chắc là muốn xóa người dùng <span
										class="text-primary">{{item.cn}}</span></strong></p>
							<p>Toàn bộ thông tin liên quan sẽ bị mất vĩnh viễn.
								<span>Việc này không thể được hoàn tác.</span>
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline-secondary"
								(click)="modal.dismiss()">Đóng</button>
							<button type="button" ngbAutofocus class="btn btn-primary" data-dismiss="modal"
								(click)="removeUsers(item.uid,item.userId)">Đồng ý</button>
						</div>
					</ng-template>
				</tr>
			</tbody>
		</table>

	</div>
	<ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="listSize"></ngb-pagination>
</div>