.faded {
    color: #aaa;
}

.pointer:hover {
    cursor: pointer;
} 
.file-upload{
	overflow:hidden;
	position:relative;
}
.file-upload input{
	position:absolute;
	background:transparent;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);  
}
.showAction{
    display: none;
}
.trEvent:hover div.showAction{
    display: block !important;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background: #f1f2f6;
	display: flex;
	justify-content: center;
	align-items: center;
}
.folder {
	transition: all 0.2s ease-in;
}
.folder__back {
	margin-top: 10px;
	position: relative;
	width: 60px;
	height: 50px;
	background: #4786ff;
	border-radius: 0px 5px 5px 5px;
}
.folder__back::after {
	position: absolute;
	bottom: 98%;
	left: 0;
	content: "";
	width: 30px;
	height: 10px;
	background: #4786ff;
	border-radius: 5px 5px 0 0;
}
.folder__back .paper {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%, 10%);
	width: 70%;
	height: 80%;
	background: #e6e6e6;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
}
.folder__back .paper:nth-child(2) {
	background: #f2f2f2;
	width: 80%;
	height: 70%;
}
.folder__back .paper:nth-child(3) {
	background: #fff;
	width: 90%;
	height: 60%;
}
.folder__back .folder__front {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #70a1ff;
	border-radius: 5px;
	transform-origin: bottom;
	transition: all 0.3s ease-in-out;
}
.trEvent:hover .folder{
  transform: translateY(0px);
}
.folder:hover {
	transform: translateY(0px);
}
.trEvent:hover .folder .paper {
  transform: translate(-50%, 0%);
}
.folder:hover .paper {
	transform: translate(-50%, 0%);
}
.trEvent:hover .folder .folder__front {
  transform: skew(15deg) scaleY(0.6);
}
.folder:hover .folder__front {
	transform: skew(15deg) scaleY(0.6);
}
.trEvent:hover .folder .right {
  transform: skew(-15deg) scaleY(0.6);
}
.folder:hover .right {
	transform: skew(-15deg) scaleY(0.6);
}
