/* 
.title-carousel{
	font-size: 25px;

}
.text-carousel{
	text-transform: uppercase;
	background-color: red;
	margin-right: 30px;

}
.carousel-caption > hr{
	border-bottom: 1px solid white;
}
.tt-text{
	margin: auto;
	background: rgba(0, 0, 0, 0.5);
    text-align: inherit;
    padding: 10px 20px;
    bottom: 0px;

} */
