::ng-deep .table-responsive th {
  font-weight: bold !important;
  text-align: center;
}

::ng-deep .modal-xl .modal-dialog { 
    max-width: 80%;
    width: 45%;
}

.error {
    color: red;
}

table {
   table-layout: fixed;
}

th, td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}