@import "notifier_styles/core.css";
@import "notifier_styles/themes/theme-material.css";
@import "notifier_styles/types/type-default.css";
@import "notifier_styles/types/type-error.css";
@import "notifier_styles/types/type-info.css";
@import "notifier_styles/types/type-success.css";
@import "notifier_styles/types/type-warning.css";
th{
	text-align: center;
}
.cangiua{
	text-align: center;
}.card-body{
	overflow: auto;
}