.tag {
	font-weight: bold; margin-right: 1em;
}

.value {
	font-family: monospace;
}

.pre {
	font-family: monospace; white-space: pre;
}

.btn-outline-special {
    border-color: #cccccc !important;
	color: #adadad;
	font-size: 14px !important;
	padding: 2px 6px !important;
	margin-left: 5px;
}

.btn-outline-special:hover {
	border-color: #00923f !important;
	color: #00923f;
}

.date-font-size {
	font-size: 14px;
}

.bg-comment {
	background-color: lightgray;
}

.delete-padding {
	padding: 0px 5px;
}
img{
	width: 100%;
}

.pre-wrap {
	white-space: pre-wrap;
}

.standard-font-size {
	font-size: 15px;
}