	<form  (ngSubmit)="onUpdate($event)" #permissonForm="ngForm"  [formGroup]="permissionForm"  >
        <div class="ThongTin">
                <h4 class="mb-2">Thông tin nhóm</h4>
                <hr >
            <div class="form-row ">
                <div class="form-group col-sm-2"style="margin: auto;">
                <label for="TenNhom">Tên nhóm(<span class="text-danger">*</span>)</label>
                </div>
                <div class="form-group col-sm-10">
                <input type="text" class="form-control"  [ngClass]="{'is-invalid': namePermission.invalid && (namePermission.dirty || namePermission.touched)}" placeholder="Nhập tên nhóm"  name="namePermission"  formControlName="namePermission" >
				</div>
				<div class="invalid-feedback" *ngIf="(namePermission.dirty || namePermission.touched) && namePermission.errors?.required">Vui lòng nhập tên nhóm</div>
				
            </div>
            <div class="form-row">
                <div class="form-group col-sm-2"style="margin: auto;">
                    <label for="MoTaNhom">Mô tả nhóm</label>
                </div>
                <div class="form-group col-sm-10">
                    <textarea id="description" class="form-control"  name="description" rows="4" cols="50" formControlName="description" ></textarea>
                </div>
            </div>
        </div>
    <div class="ThongTin">
	  <h4 class="mb-2">Thông tin quyền hạn</h4>
	  <hr>
	  <div class="form-row">
		<div class="form-group col-sm-4">
			<div class="permission">
				<p class="small">Người dùng</p>
				<div class="disp-inline" style="padding-left: 10px;" *ngFor="let us of users ">
					 
					&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="checkbox" (change)="updateUser($event,us.userId)" [checked]="us.checked" name="userId" formControlName="user" > 
					<span for="checkt1">{{us.screenName}}</span>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-4">
			<div class="permission">
				<p class="small">Nhóm quyền</p>
				<div class="disp-inline" style="padding-left: 10px;" *ngFor="let pm of rolePermissions ">
					&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"  [checked]="pm.checked" (change)="updatePermission($event,pm.permissionId)" name="permissionId" formControlName="permiss" > 
					<span for="checkt1">{{pm.role}}</span>
				</div>
			</div>
			
		</div>
		<div class="form-group col-sm-4 ">
			<div class="permission">
				<p class="small">Chuyên mục </p>
				<ng-template #categoryRecursiveList let-list let-currentlevel="level"   >
					<ng-container *ngFor="let item1 of list; let i = index">
						<div class="parenttree"  [attr.data-level]="currentlevel" [attr.data-visibility]="currentlevel < 1">
							<div  style="margin: 0px auto;padding-left: 10px;">
								<span *ngFor="let i of arrayOne(currentlevel)">&nbsp;&nbsp;&nbsp;</span>
								<a  class="dropdown-btn" href="" *ngIf="item1.child.length > 0" [attr.data-target]="currentlevel" data-visible="true" (click)="displayDropDown($event)">
									<i class="fa fa-fw" aria-hidden="true"></i>
								</a>
								<span  class="dropdown-btn" *ngIf="item1.child.length == 0" [attr.data-target]="currentlevel" data-visible="true" >
									&nbsp;&nbsp;&nbsp;&nbsp;
								</span>
								<input type="checkbox" [checked]="checkId(item1.cateId)" (change)="updateCategory($event,item1.cateId)" name=parentId formControlName="cate" >
										{{item1.title}}
							</div>
						</div>
						<ng-container *ngTemplateOutlet="categoryRecursiveList; context:{ $implicit: item1.child, level:currentlevel + 1 }"></ng-container>
					</ng-container>
				</ng-template>

				<ng-container *ngTemplateOutlet="categoryRecursiveList; context:{ $implicit: listOfCategories2 , level:0 }"></ng-container> 
				
				
			</div>
		</div>
	  </div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
		  <button  class="btn btn-primary" [disabled]="!permissonForm.valid" >
			<i class="fa fa-fw float-left mt-1" aria-hidden="true"></i> <span class="float-right">Lưu</span>
		  </button>
		  <a class="btn btn-primary clearfix ml-1" routerLink="/list" routerLinkActive="active">
			<i class="fa fa-fw float-left mt-1" aria-hidden="true" title="Copy to use rotate-right"></i>
			<span class="float-right">Quay lại</span>
		  </a>
		</div>
	  </div>
	</form>
		
    
  
