/* .gl1{
	padding: 0px 5px;
} */
/* .mb-5 >a{
	color: #292929;
}
.mb-20 {
    margin-bottom: 20px;
}
.tintiep >li >a{
	color: #292929;
}
.mt-0 >a{
	color: #292929;
}
a:hover{
	text-decoration: none;

} */