<div class="panel-group" id="accordion1"  role="tablist" aria-multiselectable="true">      
	<div class="panel panel-danger panel-danger1">
	   <div class="panel-heading panel-heading1"  role="tab">
			<h4 class="panel-title tle inline-block bg-tle">
				<img src="/o/ELegal-Web-View-OrgList/img/logo.png" style="height: 40px;" alt="">
				<a class="text-white">CƠ QUAN BAN HÀNH</a>
			</h4>
	   </div>
	   <div class="panel-collapse">
			<ng-template #orgRecursiveList let-list let-currentlevel="level">
				<ng-container *ngFor="let organization of list; let i = index">
					<div class="panel-body" [attr.data-level]="currentlevel" [attr.data-visibility]="currentlevel < 1" [ngStyle]="{'display': currentlevel > 0 ? 'none' : 'block'}">
						<a class="dropdown-btn mr-1" href="#" *ngIf="organization.child.length > 0" [attr.data-target]="currentlevel" data-visible="false" (click)="displayDropDown($event)">
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
						</a>
						<a [href]="CURRENT_URL + '?organizationId=' + organization.organizationId" [ngClass]="{'text-xemthem': mainOrgId && (organization.organizationId == mainOrgId), 
						'gl1': !mainOrgId || (organization.organizationId != mainOrgId), 'ml-3': organization.child.length == 0}">
							<span *ngFor="let i of arrayOne(currentlevel)">&nbsp;</span>{{organization.name}}
						</a>
					</div>
					<ng-container *ngTemplateOutlet="orgRecursiveList; context:{ $implicit: organization.child, level:currentlevel + 1 }"></ng-container>
				</ng-container>
			</ng-template>
			<ng-container *ngTemplateOutlet="orgRecursiveList; context:{ $implicit: organizationsList, level:0 }"></ng-container>
	   </div>
	</div>
 </div>