<section class="section-nav-cate">
	<div class="item-nav">
	  <div class="icon"><a [href]="QUANLYVANBAN"><i class="ico-2"></i></a></div>
	  <h4><a [href]="QUANLYVANBAN">Quản lý văn bản và điều hành</a></h4>
	</div>
	<div class="item-nav">
	  <div class="icon"><a [href]="LICH"><i class="ico-3"></i></a></div>
	  <h4><a [href]="LICH">Lịch công tác</a></h4>
	</div>
	<div class="item-nav">
	  <div class="icon"><a [href]="EMAIL"><i class="ico-4"></i></a></div>
	  <h4><a [href]="EMAIL">Email</a></h4>
	</div>
	<div class="item-nav">
	  <div class="icon"><a [href]="BAO_CAO_QUAN_SO"><i class="ico-5"></i></a></div>
	  <h4><a [href]="BAO_CAO_QUAN_SO">Báo cáo quân số</a></h4>
	</div>
	<!--<div class="item-nav">
	  <div class="icon"><a [href]="DANH_BA"><i class="ico-6"></i></a></div>
	  <h4><a [href]="DANH_BA">Danh bạ</a></h4>
	</div>-->
  </section>