/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */

@import 'liferay-font-awesome/scss/font-awesome';
@import 'liferay-font-awesome/scss/glyphicons';

#wrapper {
    padding-top: 0;
}

.date-article-text {
    color: #898989; 
    font-size: 11px;
}

.summary-article-text {
    color: #666; 
    font-size: 12.01px;  
    font-weight: bold; 
    text-align: justify; 
    line-height: 20px;
}

@media (min-width: 576px)
{
    body {
        &.open-admin-panel .app-header {
            padding-right: 320px;
        }

        &.open .app-header {
            padding-right: 320px;
        } 
    }
}

@media (max-width: 991.98px)
{
    body {
        &.open-admin-panel .app-header__content {
            width: calc(90% - 320px);
        }

        &.open .app-header__content {
            width: calc(90% - 320px);
        } 
    }
}

.app-main__outer {
    width: 100%;
}

.category-bullet {
    padding: 0;
    ul {
        padding-left: 20px;
    }

    li {
        list-style-type: none;
    }
}

.custom-scrollable-modal {
    .modal-dialog {
        height: 90vh;
        .modal-content {
            height: 100%;
            .body-container {
                height: 100%;
                overflow: hidden;
                .modal-body {
                    height: 100%;
                }
            }
        }
    }
}

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    background: #211a1a38;
    width: 100%;
    height: 100%;
    bottom: 0;
    transition: visibility 0s, opacity 0.4s linear !important;
    z-index: 999;
    .fa-spinner {
        font-size: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.no-box-shadow {
    .modal-dialog {
        box-shadow: none;
    }
}

.no-wrap-cell {
    white-space: nowrap;
}

.width-1 {
    width: 1px;
}


.compare-container {
	height: 520px;
	overflow: hidden;
}

.compare-content {
	max-height: 100%;
	overflow: auto;
}

.modal-extra-large .modal-dialog {
    max-width: 1100px;
}

.top-right-icon {
	top: 0;
	right: 0;
}

.padding-left-30 {
	padding-left: 30px !important;
}

.height-230 {
	height: 230px;
}

.height-400 {
    height: 400px;
}

.transform-icon {
    transition: transform 0.5s;
}

.auto-margin-left {
    margin-left: auto !important;
}

.auto-middle-margin {
    margin: auto 0;
}

.table-cell-textarea {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #FFF;
    border: none;
    height: 150px;
}

.table-cell-textarea:focus {
    outline: none;
}

.word-break {
    word-break: break-all;
}
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */