<h5 class="sheet-subtitle">THÔNG TIN SỰ KIỆN</h5>
<form  [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Tên sự kiện<span class="text-danger">*</span></label>
                <input class="form-control" [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched)}" type="text" formControlName="name" required>
                <div class="invalid-feedback" *ngIf="(name.dirty || name.touched) && name.errors?.required">Vui lòng nhập tên sự kiện</div>
                <div class="invalid-feedback" *ngIf="(name.dirty || name.touched) && name.errors?.maxlength">Không nhập quá 200 ký tự</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Mô tả</label>
                <textarea class="form-control" [ngClass]="{'is-invalid': description.invalid && (description.dirty || description.touched)}" formControlName="description"></textarea>
                <div class="invalid-feedback" *ngIf="(description.dirty || description.touched) && description.errors?.maxlength">Không nhập quá 500 ký tự</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary" [disabled]="!eventForm.valid">Lưu</button>
          <a class="btn btn-primary clearfix ml-1" routerLink="/event-list" routerLinkActive="active">
            <i class="fa fa-fw float-left mt-1" aria-hidden="true" title="Copy to use rotate-right"></i>
            <span class="float-right">Quay lại</span>
          </a>
        </div>
      </div>
</form>