<div class="row">
	<div class="form-group col-md-6">
		<input class="form-control" placeholder="Nhập tên chủ đề"  name="searchKey" [(ngModel)]="searchKey" (input)="filterList()"> 
	</div>
	<div class="col-md-6 text-right">
		<a class="btn btn-primary clearfix" routerLink="/create" routerLinkActive="active"  >
			<i class="fa fa-fw float-left mt-1" aria-hidden="true" title="Copy to use plus"></i>
			<span class="float-right">Thêm mới</span>
		</a>
	</div>
</div>
<div class="card">
    <div class="card-body">
        <table class="table table-bordered table-striped ">
			  <thead>
				 <tr>
					<th>STT</th>
					<th >chủ đề</th>
					<th >Mô tả </th>
					<th >Tác giả </th>
					<th> Ngày tạo</th>
					<th >Số lượng hình ảnh </th>
					<th >Số lượng người xem </th>
					<th >Thứ tự </th>
					<th>Hành động</th>
				 </tr>
			  </thead>
			  <tbody >
				 <tr *ngFor="let item of categoryModels , let i = index">
					<td class="cangiua five" >{{i+1+(page-1)*pageSize}}</td>
                    <td class="thoeo">{{item.name}}</td>
					<td class="thoeo">{{item.description}}</td>
					<td>{{item.tacGiaAlbum}}</td>
					
					<td>{{item.createDate | date: 'dd/MM/yyyy'}}</td>
					<td class="cangiua five">
						{{item.countImage}}
					</td>
					<td class="cangiua five">
						{{item.view}}
					</td>
					<td class="cangiua five" >{{item.thuTu}}</td>
					<td class="cangiua">
                        <div class="btn-group" ngbDropdown container="body" role="group">
							<button class="btn btn-primary" type="button" ngbDropdownToggle>
							  <!--<i class="fa fa-ellipsis-h text-primary" aria-hidden="true"></i>-->
							  Hành động
							</button>
							<div class="dropdown-menu" ngbDropdownMenu>
							  <button class="dropdown-item" ngbDropdownIte>
								<a [routerLink]="['/view/'+item.categoryId]" routerLinkActive="router-link-active">
								  <i class="fa fa-fw text-primary" aria-hidden="true"></i>
								  <span class="float-right ml-1">Sửa</span>
								</a>
							  </button>
							  <button class="dropdown-item" ngbDropdownItem>
								<a (click)="openDeleteModal(event, confirmModal)">
								  <i class="fa fa-fw text-danger" aria-hidden="true"></i>
								  <span class="float-right ml-1">Xóa</span>
								</a>
			  
							  </button>
							</div>
						  </div>
					</td>
					<ng-template #confirmModal let-modal>
						<div class="modal-body">
							<p><strong>Bạn có chắc là muốn xóa chủ đề <span class="text-primary">{{item.name}}</span></strong></p>
							<p>Toàn bộ thông tin liên quan sẽ bị mất vĩnh viễn.
								<span>Việc này không thể được hoàn tác.</span>
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Đóng</button>
							<button type="button" ngbAutofocus class="btn btn-primary" (click)="removeCategory(item.categoryId)" data-dismiss="modal">Đồng ý</button>
						</div>
					</ng-template>
				 </tr>
				
			  </tbody>
			 
		</table>
		
		<div class="mt-2">
			<ngb-pagination class="mt-2" (pageChange)="pageChange($event)" [pageSize]="pageSize" [collectionSize]="listSize" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="false"></ngb-pagination>
		</div>
	</div>
</div>
